<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="on-click; url=/new-user.html"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style/style.css"/>
    <title>To do List</title>
</head>
    <main>
        {{{body}}}
      </main>
      <footer>
        <small class="form-text text-muted">todo's todo list 2022!</small>
      </footer>
</html>
