body {
  background-image: url(./img/main-to-do.jpeg);
  padding: 75px 100px;
  margin: 100px;
  background-size: 100% 100%;
  background-repeat: repeat-x;
}

form {
  /* border: 3px solid #623e3e; */
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: #36abf4;
}



button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  /* box-shadow: #0b0d0e; */
}

button:hover {
  opacity: 0.8;
}

.NewUserbtn {

  padding: 10px 18px;
  background-color: #36abf4;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(132, 202, 224);
  color: aliceblue;
  text-align: center;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}