<h2>Your Todo List:</h2>

<div class="header">
        <a href="#default" class="logo"><img src="./style/img/mini-logo.png" class="w3-circl" alt="OctoToDO"></a>
        <div class="header-right">
          <a class="active" href="#home">Home</a>
        </div>
      </div>
    <header>
    <div class="w3-container w3-text-white" id="header">
        <h1>ToDo List Items</h1>
      </div>
    </header>
    <form class="form todo-form">
        <div class="form-group">
            <label for="add-todo">New Todo</label>
            <input class="form-input" type="text" id="add-todo" />
        </div>
    </form>
    
        {{!-- <ul class="w3-ul w3-card-4">
          <li class="w3-display-container">Change babys diaper <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
          <li class="w3-display-container">Feed and wash buddy <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
          <li class="w3-display-container">Tequila shots for a job well done!!<span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
        </ul>
    </div> --}}

<textbox type="input" class="new-todo">
    <span></span>
    <container>
        <ul>{{Todo}}</ul>
    </container>

<footer>todo's todo list 2022</footer>